/* [project]/public/assets/css/module-css/13-team-section.css [app-client] (css) */
.team-style1 {
  padding: 120px 0 101px;
}

.single-team-style1 {
  border: 1px solid var(--thm-border-color);
  border-radius: var(--thm-border-radius);
  -o-transition: all .4s ease;
  margin-bottom: 30px;
  padding: 29px 0 0;
  transition: all .4s;
  display: block;
  position: relative;
}

.single-team-style1:hover {
  border-color: var(--thm-white);
  background-color: var(--thm-white);
  box-shadow: 0 0 30px #0000001a;
}

.single-team-style1 .top-box {
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 20px;
  display: flex;
  position: relative;
}

.single-team-style1 .top-box .img-box {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  display: block;
  position: relative;
  overflow: hidden;
}

.single-team-style1 .top-box .img-box:before {
  content: "";
  opacity: 0;
  z-index: 1;
  background: linear-gradient(#50fa7b00 0%, #50fa7b87 31%, #50fa7b 80%);
  transition: all .5s cubic-bezier(.4, .28, .31, 1.28) .2s;
  position: absolute;
  inset: 0;
}

.single-team-style1:hover .top-box .img-box:before {
  opacity: 1;
}

.single-team-style1 .top-box .img-box img {
  width: 100%;
  min-width: 170px;
  transition: all 1.5s;
  transform: scale(1);
}

.single-team-style1:hover .top-box .img-box img {
  transform: scale(1.07)rotate(0);
}

.single-team-style1 .top-box .text-box {
  flex: 1;
  width: 100%;
  max-width: 100px;
  display: block;
  position: relative;
}

.single-team-style1 .top-box .text-box h6 {
  color: var(--thm-body-font-color);
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.single-team-style1 .top-box .text-box a {
  border: 1px solid var(--thm-border-color);
  color: #a3afa6;
  background-color: #0000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 15px;
  line-height: 0;
  transition: all .2s linear .1s;
  display: flex;
  position: relative;
}

.single-team-style1:hover .top-box .text-box a {
  color: var(--thm-black);
  border-color: var(--thm-primary-color);
  background-color: var(--thm-primary-color);
}

.single-team-style1 .middle-box {
  padding: 22px 25px;
  display: block;
  position: relative;
}

.single-team-style1 .middle-box h3 {
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.single-team-style1 .middle-box h3 a {
  color: var(--thm-black);
  transition: all .2s linear .1s;
}

.single-team-style1 .middle-box h3 a:hover {
  color: var(--thm-primary-color);
}

.single-team-style1 .middle-box p {
  margin: 0;
}

.single-team-style1 .bottom-box {
  border-top: 1px solid var(--thm-border-color);
  justify-content: space-between;
  align-items: center;
  padding: 18.41px 29px 19.7px;
  display: flex;
  position: relative;
}

.single-team-style1 .bottom-box .left {
  align-items: center;
  display: flex;
  position: relative;
}

.single-team-style1 .bottom-box .left .icon {
  margin-right: 10px;
  font-size: 25px;
  line-height: 0;
  display: block;
  position: relative;
}

.single-team-style1 .bottom-box .left .icon .icon-message .path1:before, .single-team-style1 .bottom-box .left .icon .icon-message .path3:before, .single-team-style1 .bottom-box .left .icon .icon-message .path4:before, .single-team-style1 .bottom-box .left .icon .icon-message .path5:before, .single-team-style1 .bottom-box .left .icon .icon-message .path6:before {
  color: var(--thm-black);
}

.single-team-style1 .bottom-box .left .icon .icon-message .path2:before {
  color: var(--thm-primary-color);
}

.single-team-style1 .bottom-box .left a {
  color: var(--thm-black);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--thm-font-2);
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.single-team-style1 .bottom-box .left a:before {
  content: "";
  background-color: var(--thm-border-color);
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
}

.single-team-style1 .bottom-box .left a:after {
  content: "";
  background-color: var(--thm-black);
  z-index: 1;
  width: 0%;
  height: 1px;
  transition: all .2s linear .1s;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
}

.single-team-style1:hover .bottom-box .left a:after {
  width: 100%;
}

.single-team-style1 .bottom-box .right {
  align-items: center;
  display: flex;
  position: relative;
}

.single-team-style1 .bottom-box .right li {
  display: block;
  position: relative;
}

.single-team-style1 .bottom-box .right li + li {
  margin-left: 20px;
}

.single-team-style1 .bottom-box .right li a {
  color: #a3afa6;
  font-size: 18px;
  line-height: 0;
  transition: all .2s linear .1s;
}

.single-team-style1 .bottom-box .right li a:hover {
  color: var(--thm-black);
}

.team-style1__btn {
  text-align: center;
  padding-top: 18px;
  display: block;
  position: relative;
}

.team-style1__btn a {
  color: var(--thm-black);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--thm-font-2);
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all .2s linear .1s;
  display: inline-flex;
  position: relative;
}

.team-style1__btn a:hover {
  color: var(--thm-primary-color);
}

.team-style1__btn a i {
  margin-left: 10px;
  font-size: 10px;
  position: relative;
  top: 1px;
}

.team-style1--style2 {
  padding: 120px 0 90px;
}

/*# sourceMappingURL=public_assets_css_module-css_13-team-section_css_bad6b30c._.single.css.map*/