/* [project]/public/assets/css/icomoon.css [app-client] (css) */
@font-face {
  font-family: icomoon;
  src: url("../media/icomoon.d4291cf7.eot");
  src: url("../media/icomoon.d4291cf7.eot") format("embedded-opentype"), url("../media/icomoon.99997b86.ttf") format("truetype"), url("../media/icomoon.32ddf27f.woff") format("woff"), url("../media/icomoon.6a649d44.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  speak: never;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-family: icomoon !important;
}

.icon-hour:before {
  content: "";
}

.icon-down:before {
  content: "";
}

.icon-lock .path1:before {
  content: "";
}

.icon-lock .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-lock .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-lock .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-lock .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-lock .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-lock .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-lock .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-link:before {
  content: "";
}

.icon-language:before {
  content: "";
}

.icon-candle:before {
  content: "";
}

.icon-right-arrow:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-success .path1:before {
  content: "";
}

.icon-success .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-success .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-arrow-down:before {
  content: "";
}

.icon-checkmark:before {
  content: "";
}

.icon-usa .path1:before {
  content: "";
  color: #f0f0f0;
}

.icon-usa .path2:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-usa .path3:before {
  content: "";
  color: #0052b4;
  margin-left: -1em;
}

.icon-japan .path1:before {
  content: "";
  color: #f0f0f0;
}

.icon-japan .path2:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-canada .path1:before {
  content: "";
  color: #f0f0f0;
}

.icon-canada .path2:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-canada .path3:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-canada .path4:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-australia .path1:before {
  content: "";
  color: #0052b4;
}

.icon-australia .path2:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-australia .path3:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-australia .path4:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-australia .path5:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-australia .path6:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-australia .path7:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-australia .path8:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-australia .path9:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-australia .path10:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-australia .path11:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-australia .path12:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-mobile-data:before {
  content: "";
}

.icon-maximize:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-telegram:before {
  content: "";
}

.icon-whatsapp:before {
  content: "";
}

.icon-target .path1:before {
  content: "";
  color: #f44336;
}

.icon-target .path2:before {
  content: "";
  color: #2196f3;
  margin-left: -1em;
}

.icon-target .path3:before {
  content: "";
  color: #2196f3;
  margin-left: -1em;
}

.icon-target .path4:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-target .path5:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-target .path6:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-target .path7:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-target .path8:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-target .path9:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-calendar .path1:before {
  content: "";
}

.icon-calendar .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-calendar .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-calendar .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-calendar .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-calendar .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-calendar .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-calendar .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-statistics .path1:before {
  content: "";
}

.icon-statistics .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-statistics .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-statistics .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-discussion .path1:before {
  content: "";
  color: #ffc107;
}

.icon-discussion .path2:before {
  content: "";
  color: #2196f3;
  margin-left: -1em;
}

.icon-discussion .path3:before {
  content: "";
  color: #4caf50;
  margin-left: -1em;
}

.icon-discussion .path4:before {
  content: "";
  color: #2196f3;
  margin-left: -1em;
}

.icon-discussion .path5:before {
  content: "";
  color: #4caf50;
  margin-left: -1em;
}

.icon-discussion .path6:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-discussion .path7:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-discussion .path8:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-discussion .path9:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-discussion .path10:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-discussion .path11:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-discussion .path12:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-certificate .path1:before {
  content: "";
  color: #eceff1;
}

.icon-certificate .path2:before {
  content: "";
  color: #cfd8dc;
  margin-left: -1em;
}

.icon-certificate .path3:before {
  content: "";
  color: #f44336;
  margin-left: -1em;
}

.icon-certificate .path4:before {
  content: "";
  color: #ffc107;
  margin-left: -1em;
}

.icon-certificate .path5:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-certificate .path6:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-certificate .path7:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-certificate .path8:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-certificate .path9:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-certificate .path10:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-certificate .path11:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-crown .path1:before {
  content: "";
}

.icon-crown .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-crown .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-crown .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-crown .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-crown .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-crown .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-crown .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-crown .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-crown .path10:before {
  content: "";
  margin-left: -1em;
}

.icon-star-1 .path1:before {
  content: "";
}

.icon-star-1 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-star-1 .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-star-1 .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-star-1 .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-protection .path1:before {
  content: "";
}

.icon-protection .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-protection .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-protection .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-check:before {
  content: "";
}

.icon-google-play .path1:before {
  content: "";
}

.icon-google-play .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-google-play .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-google-play .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-app-store:before {
  content: "";
}

.icon-windows .path1:before {
  content: "";
  color: #f44336;
}

.icon-windows .path2:before {
  content: "";
  color: #4caf50;
  margin-left: -1em;
}

.icon-windows .path3:before {
  content: "";
  color: #2196f3;
  margin-left: -1em;
}

.icon-windows .path4:before {
  content: "";
  color: #ffc107;
  margin-left: -1em;
}

.icon-apple:before {
  content: "";
}

.icon-favorite .path1:before {
  content: "";
}

.icon-favorite .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-favorite .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-favorite .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-favorite .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-favorite .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-favorite .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-favorite .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-protection-1 .path1:before {
  content: "";
  color: #4caf50;
}

.icon-protection-1 .path2:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-protection-1 .path3:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-protection-1 .path4:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-protection-1 .path5:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-protection-1 .path6:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-protection-1 .path7:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-dollar .path1:before {
  content: "";
}

.icon-dollar .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar .path10:before {
  content: "";
  margin-left: -1em;
}

.icon-chat .path1:before {
  content: "";
}

.icon-chat .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-chat .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-chat .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-chat .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-chat .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-angle-down .path1:before {
  content: "";
  color: #396ce8;
}

.icon-angle-down .path2:before {
  content: "";
  color: #396ce8;
  opacity: .4;
  margin-left: -1em;
}

.icon-right-arrow-1:before {
  content: "";
}

.icon-hashtag:before {
  content: "";
}

.icon-spain .path1:before {
  content: "";
  color: #ffda44;
}

.icon-spain .path2:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-france .path1:before {
  content: "";
  color: #f0f0f0;
}

.icon-france .path2:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-france .path3:before {
  content: "";
  color: #0052b4;
  margin-left: -1em;
}

.icon-greenland .path1:before {
  content: "";
  color: #f0f0f0;
}

.icon-greenland .path2:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-greenland .path3:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-greenland .path4:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-italy .path1:before {
  content: "";
  color: #ed1c24;
}

.icon-italy .path2:before {
  content: "";
  color: #009245;
  margin-left: -1em;
}

.icon-italy .path3:before {
  content: "";
  color: #f0f0f0;
  margin-left: -1em;
}

.icon-russia .path1:before {
  content: "";
  color: #f0f0f0;
}

.icon-russia .path2:before {
  content: "";
  color: #0052b4;
  margin-left: -1em;
}

.icon-russia .path3:before {
  content: "";
  color: #d80027;
  margin-left: -1em;
}

.icon-circle .path1:before {
  content: "";
  color: #4eab53;
}

.icon-circle .path2:before {
  content: "";
  color: #fee94e;
  margin-left: -1em;
}

.icon-circle .path3:before {
  content: "";
  color: #2b98f0;
  margin-left: -1em;
}

.icon-circle .path4:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-circle .path5:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-circle .path6:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path7:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path8:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path9:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path10:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path11:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path12:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path13:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path14:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path15:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path16:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path17:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path18:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path19:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-circle .path20:before {
  content: "";
  color: #009b3a;
  margin-left: -1em;
}

.icon-flag .path1:before {
  content: "";
  color: #27ae60;
}

.icon-flag .path2:before {
  content: "";
  color: #222;
  margin-left: -1em;
}

.icon-flag .path3:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag .path4:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag .path5:before {
  content: "";
  color: #e74c3c;
  margin-left: -1em;
}

.icon-flag .path6:before {
  content: "";
  color: #e74c3c;
  margin-left: -1em;
}

.icon-flag .path7:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-flag .path8:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag .path9:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-flag .path10:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag .path11:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-flag .path12:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-flag .path13:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag .path14:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag .path15:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag .path16:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag .path17:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag-1 .path1:before {
  content: "";
  color: #27ae60;
}

.icon-flag-1 .path2:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag-1 .path3:before {
  content: "";
  color: #f39c12;
  margin-left: -1em;
}

.icon-flag-1 .path4:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path5:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-flag-1 .path6:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path7:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path8:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path9:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path10:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path11:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path12:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path13:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path14:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path15:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path16:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path17:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path18:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path19:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path20:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path21:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path22:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path23:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path24:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path25:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path26:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path27:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path28:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path29:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path30:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path31:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path32:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path33:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path34:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path35:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path36:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path37:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path38:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path39:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path40:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path41:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path42:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path43:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path44:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path45:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path46:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path47:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path48:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path49:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path50:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path51:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path52:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path53:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-flag-1 .path54:before {
  content: "";
  color: #008;
  margin-left: -1em;
}

.icon-download:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-social:before {
  content: "";
}

.icon-telegram-1:before {
  content: "";
}

.icon-costumer-service:before {
  content: "";
}

.icon-right-down:before {
  content: "";
}

.icon-exchange:before {
  content: "";
}

.icon-right-up:before {
  content: "";
}

.icon-analytics .path1:before {
  content: "";
}

.icon-analytics .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-trading .path1:before {
  content: "";
}

.icon-trading .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-trading .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-trading .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-trading .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-user .path1:before {
  content: "";
}

.icon-user .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-user .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-user .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-user .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-user .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-book .path1:before {
  content: "";
}

.icon-book .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-book .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-book .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-book .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-book .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-book .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-currency-exchange .path1:before {
  content: "";
}

.icon-currency-exchange .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-currency-exchange .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-currency-exchange .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-currency-exchange .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-currency-exchange .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-pie-chart .path1:before {
  content: "";
}

.icon-pie-chart .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-gold .path1:before {
  content: "";
  color: #fff59b;
}

.icon-gold .path2:before {
  content: "";
  color: #020288;
  margin-left: -1em;
}

.icon-gold .path3:before {
  content: "";
  color: #020288;
  margin-left: -1em;
}

.icon-gold .path4:before {
  content: "";
  color: #020288;
  margin-left: -1em;
}

.icon-gold .path5:before {
  content: "";
  color: #020288;
  margin-left: -1em;
}

.icon-gold .path6:before {
  content: "";
  color: #020288;
  margin-left: -1em;
}

.icon-gold .path7:before {
  content: "";
  color: #020288;
  margin-left: -1em;
}

.icon-gold .path8:before {
  content: "";
  color: #020288;
  margin-left: -1em;
}

.icon-star-2 .path1:before {
  content: "";
}

.icon-star-2 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-star-3 .path1:before {
  content: "";
}

.icon-star-3 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-star-3 .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-star-3 .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-star-3 .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-star-3 .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-star-3 .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-star-4 .path1:before {
  content: "";
}

.icon-star-4 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-star-4 .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-star-4 .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-star-4 .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-star-4 .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-star-4 .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-angle-double-small-right .path1:before {
  content: "";
}

.icon-angle-double-small-right .path2:before {
  content: "";
  opacity: .4;
  margin-left: -1em;
}

.icon-story:before {
  content: "";
}

.icon-cross:before {
  content: "";
}

.icon-whatsapp-1:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-register:before {
  content: "";
}

.icon-profit:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-extend:before {
  content: "";
}

.icon-computer:before {
  content: "";
}

.icon-entrepreneur:before {
  content: "";
}

.icon-call:before {
  content: "";
}

.icon-graph .path1:before {
  content: "";
}

.icon-graph .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-graph .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-graph .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-badge .path1:before {
  content: "";
}

.icon-badge .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-badge .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-open-book .path1:before {
  content: "";
}

.icon-open-book .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-open-book .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-open-book .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-open-book .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-open-book .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-open-book .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-bull .path1:before {
  content: "";
}

.icon-bull .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-bull .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-bull .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path1:before {
  content: "";
}

.icon-medical-history .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path10:before {
  content: "";
  margin-left: -1em;
}

.icon-medical-history .path11:before {
  content: "";
  margin-left: -1em;
}

.icon-guide .path1:before {
  content: "";
}

.icon-guide .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-guide .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-guide .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-guide .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-guide .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-guide .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-guide .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-guide .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-guide .path10:before {
  content: "";
  margin-left: -1em;
}

.icon-read .path1:before {
  content: "";
}

.icon-read .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-read .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-read .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-transfer .path1:before {
  content: "";
  color: #3e3ef4;
}

.icon-transfer .path2:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-transfer .path3:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-transfer .path4:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-transfer .path5:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-transfer .path6:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-transfer .path7:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-transfer .path8:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-businessman .path1:before {
  content: "";
}

.icon-businessman .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-businessman .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-businessman .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-security .path1:before {
  content: "";
}

.icon-security .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-security .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-bill .path1:before {
  content: "";
}

.icon-bill .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-bill .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-bill .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-bill .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-bill .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-high-five .path1:before {
  content: "";
}

.icon-high-five .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-high-five .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-trend .path1:before {
  content: "";
}

.icon-trend .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-24-hours .path1:before {
  content: "";
}

.icon-24-hours .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-24-hours .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-24-hours .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-checkmark-1 .path1:before {
  content: "";
  color: #4caf50;
}

.icon-checkmark-1 .path2:before {
  content: "";
  color: #2196f3;
  margin-left: -1em;
}

.icon-discord:before {
  content: "";
  color: #5865f2;
}

.icon-card .path1:before {
  content: "";
  color: #265697;
}

.icon-card .path2:before {
  content: "";
  color: #dfac16;
  margin-left: -1em;
}

.icon-card .path3:before {
  content: "";
  color: #bf3126;
  margin-left: -1em;
}

.icon-card .path4:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card .path5:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card .path6:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card .path7:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card .path8:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card .path9:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card .path10:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card .path11:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card .path12:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card .path13:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card-1 .path1:before {
  content: "";
  color: #f6f6f6;
}

.icon-card-1 .path2:before {
  content: "";
  color: #265697;
  margin-left: -1em;
}

.icon-card-1 .path3:before {
  content: "";
  color: #d97b16;
  margin-left: -1em;
}

.icon-card-1 .path4:before {
  content: "";
  color: #265697;
  margin-left: -1em;
}

.icon-card-1 .path5:before {
  content: "";
  color: #265697;
  margin-left: -1em;
}

.icon-card-1 .path6:before {
  content: "";
  color: #265697;
  margin-left: -1em;
}

.icon-card-1 .path7:before {
  content: "";
  color: #265697;
  margin-left: -1em;
}

.icon-card-1 .path8:before {
  content: "";
  color: #d97b16;
  margin-left: -1em;
}

.icon-card-2 .path1:before {
  content: "";
  color: #306fc5;
}

.icon-card-2 .path2:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card-3 .path1:before {
  content: "";
  color: #f4f4f4;
}

.icon-card-3 .path2:before {
  content: "";
  color: #4186cd;
  margin-left: -1em;
}

.icon-card-3 .path3:before {
  content: "";
  color: #4487ca;
  margin-left: -1em;
}

.icon-card-3 .path4:before {
  content: "";
  color: #ca4638;
  margin-left: -1em;
}

.icon-card-3 .path5:before {
  content: "";
  color: #231f20;
  margin-left: -1em;
}

.icon-card-3 .path6:before {
  content: "";
  color: #231f20;
  margin-left: -1em;
}

.icon-card-3 .path7:before {
  content: "";
  color: #231f20;
  margin-left: -1em;
}

.icon-card-3 .path8:before {
  content: "";
  color: #231f20;
  margin-left: -1em;
}

.icon-card-3 .path9:before {
  content: "";
  color: #231f20;
  margin-left: -1em;
}

.icon-card-3 .path10:before {
  content: "";
  color: #231f20;
  margin-left: -1em;
}

.icon-card-3 .path11:before {
  content: "";
  color: #231f20;
  margin-left: -1em;
}

.icon-card-3 .path12:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card-3 .path13:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card-3 .path14:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card-3 .path15:before {
  content: "";
  color: #231f20;
  margin-left: -1em;
}

.icon-card-3 .path16:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card-3 .path17:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card-3 .path18:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card-3 .path19:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-card-3 .path20:before {
  content: "";
  color: #fff;
  margin-left: -1em;
}

.icon-growth-chart .path1:before {
  content: "";
}

.icon-growth-chart .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-growth-chart .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-growth-chart .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-growth-chart .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-trading-1 .path1:before {
  content: "";
}

.icon-trading-1 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-trading-1 .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-trading-1 .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-circular-label-with-certified-stamp:before {
  content: "";
}

.icon-right-chevron .path1:before {
  content: "";
}

.icon-right-chevron .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-right-chevron .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path1:before {
  content: "";
}

.icon-desktop-computer .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path10:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path11:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path12:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path13:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path14:before {
  content: "";
  margin-left: -1em;
}

.icon-desktop-computer .path15:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path1:before {
  content: "";
}

.icon-idea .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path10:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path11:before {
  content: "";
  margin-left: -1em;
}

.icon-idea .path12:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path1:before {
  content: "";
}

.icon-relations .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path10:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path11:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path12:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path13:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path14:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path15:before {
  content: "";
  margin-left: -1em;
}

.icon-relations .path16:before {
  content: "";
  margin-left: -1em;
}

.icon-checked .path1:before {
  content: "";
  color: #eceff1;
}

.icon-checked .path2:before {
  content: "";
  color: #4caf50;
  margin-left: -1em;
}

.icon-checked .path3:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-checked .path4:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-checked .path5:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-checked .path6:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-checked .path7:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-checked .path8:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-checked .path9:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-phone-vibration .path1:before {
  content: "";
}

.icon-phone-vibration .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-phone-vibration .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-phone-vibration .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-phone-vibration .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-phone-vibration .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-phone-vibration .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-phone-vibration .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-phone-vibration .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-comment:before {
  content: "";
}

.icon-checkmark-2 .path1:before {
  content: "";
}

.icon-checkmark-2 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-checkmark-2 .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-right-arrow-2 .path1:before {
  content: "";
}

.icon-right-arrow-2 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-line-chart .path1:before {
  content: "";
}

.icon-line-chart .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-line-chart .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-line-chart .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-line-chart .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-line-chart .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-line-chart .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-line-chart .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-line-chart .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-graph-1 .path1:before {
  content: "";
  color: #eceff1;
}

.icon-graph-1 .path2:before {
  content: "";
  color: #4caf50;
  margin-left: -1em;
}

.icon-graph-1 .path3:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-graph-1 .path4:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-deposit .path1:before {
  content: "";
}

.icon-deposit .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-deposit .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-deposit .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-deposit .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-deposit .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-deposit .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-deposit .path8:before {
  content: "";
  margin-left: -1em;
}

.icon-deposit .path9:before {
  content: "";
  margin-left: -1em;
}

.icon-deposit .path10:before {
  content: "";
  margin-left: -1em;
}

.icon-employee .path1:before {
  content: "";
}

.icon-employee .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-employee .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-employee .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-employee .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-protection-2 .path1:before {
  content: "";
}

.icon-protection-2 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-protection-2 .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-protection-2 .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar-sign .path1:before {
  content: "";
}

.icon-dollar-sign .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar-sign .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-dollar-sign .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-read-1:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-growth:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-share-1:before {
  content: "";
}

.icon-video-camera:before {
  content: "";
}

.icon-volume-up:before {
  content: "";
}

.icon-check-1 .path1:before {
  content: "";
}

.icon-check-1 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-language-1:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-quality:before {
  content: "";
}

.icon-add-user:before {
  content: "";
}

.icon-right-arrow-3 .path1:before {
  content: "";
}

.icon-right-arrow-3 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-message .path1:before {
  content: "";
}

.icon-message .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-message .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-message .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-message .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-message .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-trophy .path1:before {
  content: "";
}

.icon-trophy .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-trophy .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-trophy .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-trophy .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-trophy .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-trophy .path7:before {
  content: "";
  margin-left: -1em;
}

.icon-enter .path1:before {
  content: "";
}

.icon-enter .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-enter .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-enter .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-error .path1:before {
  content: "";
  color: #2e3760;
}

.icon-error .path2:before {
  content: "";
  color: #2e3760;
  margin-left: -1em;
}

.icon-error .path3:before {
  content: "";
  color: #2e3760;
  margin-left: -1em;
}

.icon-error .path4:before {
  content: "";
  color: #ff695a;
  margin-left: -1em;
}

.icon-telephone .path1:before {
  content: "";
  color: #000;
}

.icon-telephone .path2:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-telephone .path3:before {
  content: "";
  color: #2196f3;
  margin-left: -1em;
}

.icon-telephone .path4:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-telephone .path5:before {
  content: "";
  color: #2196f3;
  margin-left: -1em;
}

.icon-telephone .path6:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-telephone .path7:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-chat-1 .path1:before {
  content: "";
}

.icon-chat-1 .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-chat-1 .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-chat-1 .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-map .path1:before {
  content: "";
}

.icon-map .path2:before {
  content: "";
  margin-left: -1em;
}

.icon-map .path3:before {
  content: "";
  margin-left: -1em;
}

.icon-map .path4:before {
  content: "";
  margin-left: -1em;
}

.icon-map .path5:before {
  content: "";
  margin-left: -1em;
}

.icon-map .path6:before {
  content: "";
  margin-left: -1em;
}

.icon-alarm-clock .path1:before {
  content: "";
  color: #607d8b;
}

.icon-alarm-clock .path2:before {
  content: "";
  color: #607d8b;
  margin-left: -1em;
}

.icon-alarm-clock .path3:before {
  content: "";
  color: #f5f5f5;
  margin-left: -1em;
}

.icon-alarm-clock .path4:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-alarm-clock .path5:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-alarm-clock .path6:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-alarm-clock .path7:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-alarm-clock .path8:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

.icon-alarm-clock .path9:before {
  content: "";
  color: #000;
  margin-left: -1em;
}

/*# sourceMappingURL=public_assets_css_icomoon_css_bad6b30c._.single.css.map*/