/* [project]/public/assets/css/module-css/07-footer-section.css [app-client] (css) */
.bottom-parallax {
  opacity: 0;
  z-index: -999;
  height: 860px;
  position: relative;
}

.bottom-parallax .footer-style1 {
  height: 860px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.parallax-visible .bottom-parallax {
  opacity: 1;
  z-index: 1;
}

.footer-style1 {
  background: none;
}

.footer-main {
  background-color: var(--thm-black-bg);
  border-radius: var(--thm-border-radius);
  display: block;
  position: relative;
}

.footer-main-top {
  padding: 120px 0 112px;
  display: block;
  position: relative;
}

.single-footer-widget {
  display: block;
  position: relative;
}

.single-footer-widget-contact {
  padding-right: 30px;
  display: block;
  position: relative;
}

.footer-logo-style1 {
  display: block;
  position: relative;
}

.footer-logo-style1 a {
  display: inline-block;
  position: relative;
}

.footer-logo-style1 a img {
  width: auto;
}

.single-footer-widget-contact .text-box {
  padding-top: 28px;
  display: block;
  position: relative;
}

.single-footer-widget-contact .text-box p {
  color: var(--thm-body-font-color-2);
}

.single-footer-widget-contact .your-trading {
  padding-top: 24px;
  display: block;
  position: relative;
}

.single-footer-widget-contact .your-trading .title1 {
  padding-bottom: 22px;
  display: block;
  position: relative;
}

.single-footer-widget-contact .your-trading .title1 h3 {
  color: var(--thm-white);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.single-footer-widget-contact .your-trading .btn-box {
  line-height: 0;
  display: block;
  position: relative;
}

.single-footer-widget-contact .your-trading .btn-box a + a {
  margin-top: 10px;
}

.single-footer-widget-contact .your-trading .btn-box .btn-one {
  color: var(--thm-white);
  font-size: 18px;
  line-height: 36px;
  font-family: var(--thm-font-2);
  border-radius: 28px;
  width: 100%;
  font-weight: 600;
  display: block;
}

.single-footer-widget-contact .your-trading .btn-box .btn-one:hover {
  color: var(--thm-black);
}

.single-footer-widget-contact .your-trading .btn-box .btn-one i {
  margin-left: 0;
  margin-right: 0;
  font-size: 10px;
  font-weight: 600;
}

.single-footer-widget-contact .your-trading .btn-box .btn-one .txt {
  justify-content: space-between;
  display: flex;
}

.single-footer-widget-contact .your-trading .btn-box .btn-one:before {
  background: var(--thm-primary-color);
}

.single-footer-widget-contact .your-trading .btn-box .btn-one:after {
  border: 1px solid var(--thm-border-color-1);
  background-color: #0000;
  border-radius: 28px;
}

.single-footer-widget.mt28 {
  margin-top: 28px;
}

.single-footer-widget .title {
  margin-top: -5px;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.single-footer-widget .title:before {
  content: "";
  background-color: var(--thm-primary-color);
  width: 40px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 5px;
}

.single-footer-widget .title:after {
  content: "";
  background-color: var(--thm-primary-color);
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.single-footer-widget .title h3 {
  color: var(--thm-white);
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}

.footer-widget-links {
  padding-top: 28px;
  display: block;
  position: relative;
}

.footer-widget-links ul, .footer-widget-links ul li {
  display: block;
  position: relative;
}

.footer-widget-links ul li + li {
  margin-top: 10px;
}

.footer-widget-links ul li a {
  color: var(--thm-body-font-color-2);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--thm-font);
  z-index: 1;
  align-items: center;
  font-weight: 400;
  transition: all .2s linear .1s;
  display: inline-flex;
  position: relative;
}

.footer-widget-links ul li a:hover {
  color: var(--thm-primary-color);
  padding-left: 5px;
}

.footer-widget-links ul li a i {
  opacity: 0;
  -o-transition: all .4s ease;
  margin-left: 10px;
  font-size: 10px;
  transition: all .4s;
  transform: translateX(-15px);
}

.footer-widget-links ul li a:hover i {
  opacity: 1;
  transform: translateX(0);
}

.footer-widget-trading-guides {
  border: 1px solid var(--thm-border-color-1);
  border-radius: var(--thm-border-radius);
  background-color: #0a0e29;
  margin-top: 35px;
  padding-top: 30px;
  display: block;
  position: relative;
  overflow: hidden;
}

.footer-widget-trading-guides .img-box {
  width: 190px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.footer-widget-trading-guides .courses {
  writing-mode: vertical-lr;
  background-color: var(--thm-primary-color);
  border-radius: 15px 15px 0 0;
  padding: 15px 0;
  position: absolute;
  top: 0;
  right: 19px;
  transform: rotate(180deg);
}

.footer-widget-trading-guides .courses h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}

.footer-widget-trading-guides .btn-box {
  max-width: 56px;
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.footer-widget-trading-guides .btn-box a {
  background-color: var(--thm-white);
  border: 1px solid var(--thm-primary-color);
  width: 56px;
  height: 56px;
  color: var(--thm-black);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 0;
  transition: all .2s linear .1s;
  display: flex;
  position: relative;
}

.footer-widget-trading-guides .btn-box a:hover {
  background-color: var(--thm-primary-color);
}

.footer-widget-trading-guides .title2 {
  writing-mode: vertical-lr;
  position: absolute;
  top: 30px;
  left: 9px;
  transform: rotate(180deg);
}

.footer-widget-trading-guides .title2 h2 {
  color: #1a1e37;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1em;
}

.footer-main-bottom {
  border-top: 1px solid var(--thm-border-color-1);
  padding: 36px 0 35px;
  display: block;
  position: relative;
}

.footer-main-bottom__inner {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-main-bottom__inner .left-box {
  align-items: center;
  width: 100%;
  max-width: 246px;
  display: flex;
  position: relative;
}

.footer-main-bottom__inner .left-box .icon-box {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 114px;
  display: flex;
  position: relative;
}

.footer-main-bottom__inner .left-box .icon-box a {
  width: 52px;
  height: 52px;
  color: var(--thm-white);
  -o-transition: all .4s ease;
  background-color: #0a0e29;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 0;
  transition: all .4s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.footer-main-bottom__inner .left-box .icon-box a:hover {
  color: var(--thm-black);
  background-color: var(--thm-primary-color);
}

.footer-main-bottom__inner .left-box .text {
  flex: 1;
  padding-left: 15px;
  display: block;
  position: relative;
}

.footer-main-bottom__inner .left-box .text p {
  color: var(--thm-body-font-color-2);
}

.footer-main-bottom__inner .middle-box {
  align-items: center;
  width: 100%;
  max-width: 440px;
  display: flex;
  position: relative;
}

.footer-main-bottom__inner .middle-box li {
  border-right: 1px solid var(--thm-border-color-1);
  width: 100%;
  max-width: 110px;
  display: block;
  position: relative;
}

.footer-main-bottom__inner .middle-box li:last-child {
  border-right: none;
}

.footer-main-bottom__inner .middle-box li a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-main-bottom__inner .middle-box li a .icon {
  color: var(--thm-white);
  font-size: 24px;
  line-height: 0;
  transition: all .2s linear .1s;
  display: block;
  position: relative;
}

.footer-main-bottom__inner .middle-box li a:hover .icon {
  color: var(--thm-primary-color);
}

.footer-main-bottom__inner .middle-box li a .text {
  padding-top: 6px;
  display: block;
  position: relative;
}

.footer-main-bottom__inner .middle-box li a .text p {
  color: var(--thm-body-font-color-2);
  transition: all .2s linear .1s;
}

.footer-main-bottom__inner .middle-box li a:hover .text p {
  color: var(--thm-primary-color);
}

.footer-main-bottom__inner .right-box {
  align-items: center;
  width: 100%;
  max-width: 220px;
  display: flex;
  position: relative;
}

.footer-main-bottom__inner .right-box .text {
  text-align: right;
  padding-right: 15px;
  display: block;
  position: relative;
}

.footer-main-bottom__inner .right-box .text p {
  color: var(--thm-body-font-color-2);
}

.footer-main-bottom__inner .right-box .icon {
  display: block;
  position: relative;
}

.footer-main-bottom__inner .right-box .icon a {
  width: 52px;
  height: 52px;
  color: var(--thm-white);
  background-color: #0a0e29;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 0;
  transition: all .2s linear .1s;
  display: flex;
  position: relative;
}

.footer-main-bottom__inner .right-box .icon a:hover {
  color: var(--thm-black);
  background-color: var(--thm-primary-color);
}

.footer-bottom {
  display: block;
  position: relative;
}

.footer-bottom .bottom-inner {
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
  display: flex;
  position: relative;
}

.copyright-text {
  display: block;
  position: relative;
}

.copyright-text p {
  margin: 0;
}

.copyright-text p a {
  color: var(--thm-black);
  transition: all .2s linear .1s;
}

.copyright-text p a:hover {
  color: var(--thm-primary-color);
}

.footer-menu {
  display: block;
  position: relative;
}

.footer-menu ul {
  align-items: center;
  display: flex;
  position: relative;
}

.footer-menu ul li {
  display: block;
  position: relative;
}

.footer-menu ul li:before {
  content: "";
  background-color: #646966;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  position: absolute;
  bottom: 8px;
  left: -13px;
  right: 0;
}

.footer-menu ul li:first-child:before {
  display: none;
}

.footer-menu ul li + li {
  margin-left: 25px;
}

.footer-menu ul li a {
  color: var(--thm-body-font-color);
  transition: all .2s linear .1s;
}

.footer-menu ul li a:hover {
  color: var(--thm-black);
}

.footer-style2 {
  background-color: var(--thm-gray-bg);
  z-index: 10;
  display: block;
  position: relative;
  overflow: hidden;
}

.footer-style2__border-box {
  z-index: -1;
  max-width: 1170px;
  margin: 0 auto;
  position: absolute;
  inset: 0;
}

.footer-style2 .border-line1 {
  background-color: var(--thm-border-color-2);
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.footer-style2 .border-line2 {
  background-color: var(--thm-border-color-2);
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.footer-style2 .border-line3 {
  background-color: var(--thm-border-color-2);
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25%;
}

.footer-style2 .border-line4 {
  background-color: var(--thm-border-color-2);
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.footer-main-style2 {
  padding: 120px 0 110px;
  display: block;
  position: relative;
}

.single-footer-widget-style2 {
  z-index: 10;
  padding-left: 50px;
  display: block;
  position: relative;
}

.single-footer-widget-style2.pl36 {
  padding-left: 36px;
}

.single-footer-widget-style2.pl29 {
  padding-left: 29px;
}

.footer-logo-style2 {
  display: inline-block;
  position: relative;
  top: -2px;
}

.footer-logo-style2 a {
  display: inline-block;
  position: relative;
}

.single-footer-widget-style2__inner {
  padding-top: 26px;
  display: block;
  position: relative;
}

.single-footer-widget-style2__inner .row {
  --bs-gutter-x: 0px;
}

.single-footer-widget-contact-style2 {
  border-right: 1px solid var(--thm-border-color-2);
  padding-right: 49px;
  display: block;
  position: relative;
}

.single-footer-widget-contact-style2 .text-box {
  display: block;
  position: relative;
}

.single-footer-widget-contact-style2 .text-box p {
  color: var(--thm-black);
}

.single-footer-widget-contact-style2 .btn-box {
  padding-top: 6px;
  display: block;
  position: relative;
}

.single-footer-widget-contact-style2 .btn-box a {
  color: var(--thm-body-font-color);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--thm-font-2);
  align-items: center;
  font-weight: 600;
  transition: all .2s linear .1s;
  display: inline-flex;
  position: relative;
}

.single-footer-widget-contact-style2 .btn-box a:hover {
  color: var(--thm-black);
}

.single-footer-widget-contact-style2 .btn-box a i {
  margin-left: 10px;
  font-size: 10px;
}

.single-footer-widget-contact-style2 .email-phn {
  padding-top: 15px;
  padding-bottom: 32px;
  display: block;
  position: relative;
}

.single-footer-widget-contact-style2 .email-phn p {
  margin: 0;
}

.single-footer-widget-contact-style2 .email-phn p + p {
  margin-top: 5px;
}

.single-footer-widget-contact-style2 .email-phn p a {
  color: var(--thm-black);
  transition: all .2s linear .1s;
}

.single-footer-widget-contact-style2 .email-phn p a:hover {
  color: var(--thm-primary-color);
}

.single-footer-widget-contact-style2 .email-phn p.color a {
  font-size: 20px;
  font-weight: 600;
}

.single-footer-widget-contact-style2 .nice-select {
  background-color: var(--thm-white);
  width: 100%;
  height: 80px;
  color: var(--thm-black);
  font-size: 18px;
  line-height: 80px;
  font-family: var(--thm-font-2);
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0 25px;
  font-weight: 500;
  transition: all .2s ease-in-out;
  display: block;
  position: relative;
  box-shadow: 0 0 30px #0000000f;
}

.single-footer-widget-contact-style2 .nice-select:after {
  color: var(--thm-body-font-color-2);
  transform-origin: 0 0;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 100%;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  content: "" !important;
  border: none !important;
  font-family: icomoon !important;
  transform: rotate(0) !important;
}

.single-footer-widget-contact-style2 .nice-select .list {
  background-color: var(--thm-white);
  transform-origin: 100% 0;
  -o-transition: all .4s linear;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  height: 0;
  margin-top: 10px;
  padding: 0;
  transition: all .4s linear;
  transform: scale(1)translateY(30px);
  box-shadow: 0 0 10px #0000001a;
  left: auto !important;
  right: 0 !important;
}

.single-footer-widget-contact-style2 .nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  height: auto;
  transform: scale(1)translateY(0);
}

.single-footer-widget-contact-style2 .nice-select .option {
  color: var(--thm-black);
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  line-height: 40px;
  transition: all .5s;
}

.single-footer-widget-contact-style2 .nice-select .option + .option {
  border-top: 1px solid #0000001a;
}

.single-footer-widget-contact-style2 .nice-select .option:hover, .single-footer-widget-contact-style2 .nice-select .option.focus, .single-footer-widget-contact-style2 .nice-select .option.selected {
  background-color: var(--thm-primary-color);
  color: var(--thm-black) !important;
}

.single-footer-widget-social {
  padding-left: 30px;
  display: block;
  position: relative;
}

.single-footer-widget-social li {
  display: block;
  position: relative;
}

.single-footer-widget-social li + li {
  margin-top: 12px;
}

.single-footer-widget-social li a {
  color: var(--thm-black);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--thm-font);
  align-items: center;
  font-weight: 400;
  transition: all .2s linear .1s;
  display: inline-flex;
  position: relative;
}

.single-footer-widget-social li a i {
  margin-right: 15px;
  font-size: 18px;
}

.single-footer-widget-social li a:hover {
  color: #103e33;
}

.single-footer-widget-social li a span {
  color: #a5a99f;
  transition: all .2s linear .1s;
}

.single-footer-widget-social li a:hover span {
  color: #103e33;
}

.single-footer-widget-style2 .title {
  display: block;
  position: relative;
  top: -9px;
}

.single-footer-widget-style2 .title h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.footer-widget-links-style2 {
  padding-top: 9px;
  display: block;
  position: relative;
}

.footer-widget-links-style2 ul, .footer-widget-links-style2 ul li {
  display: block;
  position: relative;
}

.footer-widget-links-style2 ul li + li {
  margin-top: 8px;
}

.footer-widget-links-style2 ul li a {
  color: var(--thm-black);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--thm-font);
  align-items: center;
  font-weight: 400;
  transition: all .2s linear .1s;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.footer-widget-links-style2 ul li a:before {
  content: "";
  background-color: #033428;
  width: 0;
  height: 1px;
  transition: all .4s linear .1s;
  position: absolute;
  bottom: 4px;
  left: 25px;
  right: 0;
}

.footer-widget-links-style2 ul li a:hover:before {
  width: 100%;
}

.footer-widget-links-style2 ul li a:hover {
  color: #033428;
}

.footer-widget-links-style2 ul li a i {
  color: #a5a99f;
  margin-right: 15px;
  font-size: 10px;
  transition: all .2s linear .1s;
}

.footer-widget-links-style2 ul li a:hover i {
  color: #033428;
}

.footer-bottom-style2 {
  border-top: 1px solid var(--thm-border-color-2);
  padding: 18px 0 17px;
  display: block;
  position: relative;
}

.bottom-inner-style2 {
  display: block;
  position: relative;
}

.bottom-inner-style2 .row {
  align-items: center;
}

.footer-bottom-style2__left {
  padding-left: 50px;
  display: block;
  position: relative;
}

.footer-menu-style2 {
  padding-bottom: 2px;
  display: block;
  position: relative;
}

.footer-menu-style2 ul {
  align-items: center;
  display: flex;
  position: relative;
}

.footer-menu-style2 ul li {
  display: block;
  position: relative;
}

.footer-menu-style2 ul li:before {
  content: "";
  background-color: #646966;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  position: absolute;
  bottom: 8px;
  left: -13px;
  right: 0;
}

.footer-menu-style2 ul li:first-child:before {
  display: none;
}

.footer-menu-style2 ul li + li {
  margin-left: 25px;
}

.footer-menu-style2 ul li p {
  margin: 0;
}

.footer-menu-style2 ul li p a {
  color: var(--thm-body-font-color);
  transition: all .2s linear .1s;
}

.footer-menu-style2 ul li p a:hover {
  color: var(--thm-black);
}

.copyright-text-style2 {
  display: block;
  position: relative;
}

.copyright-text-style2 p {
  margin: 0;
}

.copyright-text-style2 p a {
  color: var(--thm-black);
  font-weight: 600;
  transition: all .2s linear .1s;
}

.copyright-text-style2 p a:hover {
  color: var(--thm-primary-color);
}

.footer-bottom-style2__rating {
  align-items: center;
  padding-left: 36px;
  display: flex;
  position: relative;
}

.footer-bottom-style2__rating .point {
  background-color: var(--thm-primary-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.footer-bottom-style2__rating .point h4 {
  color: #033428;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.footer-bottom-style2__rating .text {
  flex: 1;
  padding-left: 15px;
  display: block;
  position: relative;
}

.footer-bottom-style2__rating .text ul {
  align-items: center;
  display: flex;
  position: relative;
}

.footer-bottom-style2__rating .text ul li {
  color: var(--thm-black);
  font-size: 16px;
  line-height: 0;
  display: block;
  position: relative;
}

.footer-bottom-style2__rating .text ul li + li {
  margin-left: 5px;
}

.footer-bottom-style2__rating .text p {
  margin: 7px 0 0;
  line-height: 16px;
}

.footer-bottom-style2__cretified {
  align-items: center;
  padding-left: 29px;
  display: flex;
  position: relative;
}

.footer-bottom-style2__cretified .img {
  display: block;
  position: relative;
}

.footer-bottom-style2__cretified .text {
  flex: 1;
  padding-left: 15px;
  display: block;
  position: relative;
}

.footer-bottom-style2__cretified .text p {
  margin: 0;
  line-height: 20px;
}

.footer-style3 {
  display: block;
  position: relative;
}

.footer-main-style3 {
  background-color: var(--thm-black-bg);
  padding: 120px 0 112px;
  display: block;
  position: relative;
  overflow: hidden;
}

.single-footer-widget-style3 {
  z-index: 1;
  display: block;
  position: relative;
}

.single-footer-widget-style3 .title {
  margin-top: -5px;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.single-footer-widget-style3 .title:before {
  content: "";
  background-color: var(--thm-primary-color);
  width: 40px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 5px;
}

.single-footer-widget-style3 .title:after {
  content: "";
  background-color: var(--thm-primary-color);
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.single-footer-widget-style3 .title h3 {
  color: var(--thm-white);
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}

.single-footer-widget-style3.mr-minus20 {
  margin-right: -20px;
}

.single-footer-widget-style3.plr30 {
  padding: 0 30px;
}

.single-footer-widget-style3__bg {
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  inset: -120px 0 -127px;
}

.single-footer-widget-style3-info {
  padding: 0 40px;
  display: block;
  position: relative;
}

.single-footer-widget-style3-info .icon {
  background-color: var(--thm-white);
  border-radius: var(--thm-border-radius);
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
  position: relative;
}

.single-footer-widget-style3-info .title2 {
  padding: 21px 0 0;
  display: block;
  position: relative;
  margin: 0 !important;
}

.single-footer-widget-style3-info .title2 h3 {
  color: var(--thm-white);
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.single-footer-widget-style3-info .title2 p {
  color: var(--thm-body-font-color-2);
}

.single-footer-widget-style3-info .images-links {
  align-items: center;
  padding-top: 24px;
  display: flex;
  position: relative;
}

.single-footer-widget-style3-info .images-links ul {
  align-items: center;
  display: flex;
  position: relative;
}

.single-footer-widget-style3-info .images-links ul li {
  display: block;
  position: relative;
}

.single-footer-widget-style3-info .images-links ul li .img-box {
  background-color: var(--thm-white);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
}

.single-footer-widget-style3-info .images-links ul li .img-box2, .single-footer-widget-style3-info .images-links ul li .img-box3 {
  margin-left: -10px;
}

.single-footer-widget-style3-info .images-links .text {
  flex: 1;
  padding-left: 15px;
  display: block;
  position: relative;
}

.single-footer-widget-style3-info .images-links .text p {
  color: var(--thm-body-font-color-2);
}

.single-footer-widget-style3-info .btn-box {
  padding-top: 27px;
  line-height: 0;
  display: block;
  position: relative;
}

.single-footer-widget-style3-info .btn-box .btn-one {
  color: var(--thm-black);
  font-family: var(--thm-font-2);
  border-radius: 36px;
  font-weight: 600;
}

.single-footer-widget-style3-info .btn-box .btn-one:before {
  background: var(--thm-primary-color);
}

.single-footer-widget-style3-info .btn-box .btn-one:after {
  background: var(--thm-white);
}

.single-footer-widget-style3-info .btn-box .btn-one i {
  margin-left: 10px;
  font-size: 10px;
  transition: all .2s linear .1s;
  position: relative;
  top: 1px;
}

.single-footer-widget-style3-info .members-box {
  margin-top: 23px;
  padding-left: 20px;
  display: block;
  position: relative;
}

.single-footer-widget-style3-info .members-box .box {
  background-color: #3dc654;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.single-footer-widget-style3-info .members-box p {
  color: var(--thm-body-font-color-2);
}

.footer-widget-links-style3 {
  padding-top: 28px;
  display: block;
  position: relative;
}

.footer-widget-links-style3 ul, .footer-widget-links-style3 ul li {
  display: block;
  position: relative;
}

.footer-widget-links-style3 ul li + li {
  margin-top: 12px;
}

.footer-widget-links-style3 ul li a {
  color: var(--thm-body-font-color-2);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--thm-font);
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  transition: all .2s linear .1s;
  display: flex;
  position: relative;
}

.footer-widget-links-style3 ul li a:hover {
  color: var(--thm-primary-color);
}

.footer-widget-links-style3 ul li a i {
  font-size: 10px;
  position: relative;
  top: 1px;
}

.single-footer-widget-style3__bg.style2 {
  right: -15px;
}

.single-footer-widget-style3 .title.title1 {
  margin: -5px 40px 0;
}

.single-footer-widget-style3-post {
  margin-top: 30px;
  padding: 0 0 0 40px;
  display: block;
  position: relative;
}

.single-footer-widget-style3-post li {
  padding-left: 90px;
  display: block;
  position: relative;
}

.single-footer-widget-style3-post li + li {
  margin-top: 27px;
}

.single-footer-widget-style3-post li .img {
  border-radius: var(--thm-border-radius);
  min-width: 70px;
  position: absolute;
  top: 5px;
  left: 0;
  overflow: hidden;
}

.single-footer-widget-style3-post li .img img {
  -webkit-filter: blur();
  width: 100%;
  transition: all 1.5s;
  transform: scale(1);
}

.single-footer-widget-style3-post li:hover .img img {
  -webkit-filter: blur(3px);
  transform: scale(1.07)rotate(0);
}

.single-footer-widget-style3-post li .content {
  display: block;
  position: relative;
}

.single-footer-widget-style3-post li .content .category {
  align-items: center;
  display: flex;
  position: relative;
}

.single-footer-widget-style3-post li .content .category .icon {
  color: var(--thm-primary-color);
  margin-right: 10px;
  font-size: 16px;
  line-height: 0;
  display: block;
  position: relative;
}

.single-footer-widget-style3-post li .content .category h6 {
  color: var(--thm-body-font-color-2);
  text-transform: uppercase;
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.single-footer-widget-style3-post li .content .title2 {
  padding-top: 12px;
  display: block;
  position: relative;
}

.single-footer-widget-style3-post li .content .title2 h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.single-footer-widget-style3-post li .content .title2 h3 a {
  color: var(--thm-white);
  transition: all .2s linear .1s;
}

.single-footer-widget-style3-post li .content .title2 h3 a:hover {
  color: var(--thm-primary-color);
}

.single-footer-widget-style3-post li .content .btn-box {
  padding-top: 7px;
  display: block;
  position: relative;
}

.single-footer-widget-style3-post li .content .btn-box a {
  color: var(--thm-body-font-color-2);
  font-size: 14px;
  line-height: 24px;
  font-family: var(--thm-font-2);
  text-transform: uppercase;
  font-weight: 600;
  transition: all .2s linear .1s;
}

.single-footer-widget-style3-post li .content .btn-box a:hover {
  color: var(--thm-white);
}

.single-footer-widget-style3-post li .content .btn-box a i {
  margin-left: 10px;
  font-size: 10px;
}

.footer-bottom-style3 {
  background-color: #0e495b;
  padding: 20.44px 0 19px;
  display: block;
  position: relative;
}

.bottom-inner-style3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.copyright-text-style3 {
  display: block;
  position: relative;
}

.copyright-text-style3 p {
  color: var(--thm-body-font-color-2);
}

.copyright-text-style3 p a {
  color: var(--thm-primary-color);
  transition: all .2s linear .1s;
}

.copyright-text-style3 p a:hover {
  color: var(--thm-white);
}

.payment-methods {
  align-items: center;
  display: flex;
  position: relative;
}

.payment-methods .text {
  display: block;
  position: relative;
}

.payment-methods .text p {
  color: var(--thm-body-font-color-2);
  font-weight: 500;
}

.payment-methods ul {
  flex: 1;
  align-items: center;
  padding-left: 10px;
  display: flex;
  position: relative;
}

.payment-methods ul li {
  display: block;
  position: relative;
}

.payment-methods ul li + li {
  margin-left: 10px;
}

.footer-style4 {
  background-color: var(--thm-gray-bg);
}

.footer-main-style4 {
  background-color: var(--thm-black-bg);
  border-radius: var(--thm-border-radius);
  z-index: 1;
  margin: 0 100px;
  padding: 94px 0 52px;
  display: block;
  position: relative;
}

.footer-main-style4__bg {
  opacity: .1;
  border-radius: var(--thm-border-radius);
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  inset: 0;
}

.footer-main-style4__img {
  position: absolute;
  top: -40px;
  left: 40%;
}

.footer-main-style4__shape1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.footer-main-style4__shape2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.footer-main-style4__top {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-main-style4__top-left {
  width: 100%;
  max-width: 195px;
  display: block;
  position: relative;
}

.footer-main-style4__top-left .title {
  display: block;
  position: relative;
}

.footer-main-style4__top-left .title h4 {
  color: var(--thm-white);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.footer-main-style4__top-left .btn-box {
  padding-top: 11px;
  display: block;
  position: relative;
}

.footer-main-style4__top-left .btn-box a {
  color: var(--thm-body-font-color-2);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--thm-font-2);
  align-items: center;
  font-weight: 600;
  transition: all .2s linear .1s;
  display: inline-flex;
  position: relative;
}

.footer-main-style4__top-left .btn-box a:hover {
  color: var(--thm-white);
}

.footer-main-style4__top-left .btn-box a i {
  margin-left: 10px;
  font-size: 10px;
}

.footer-main-style4__top-right {
  align-items: center;
  width: 100%;
  max-width: 260px;
  display: flex;
  position: relative;
  top: -4px;
}

.footer-main-style4__top-right .img {
  display: block;
  position: relative;
}

.footer-main-style4__top-right .text {
  flex: 1;
  padding-left: 20px;
  display: block;
  position: relative;
}

.footer-main-style4__top-right .text p {
  color: var(--thm-body-font-color-2);
}

.footer-main-style4__top-right .text p span {
  text-transform: uppercase;
}

.footer-main-style4__middle {
  justify-content: center;
  align-items: center;
  padding-top: 33px;
  display: flex;
  position: relative;
}

.footer-main-style4__middle .title {
  display: block;
  position: relative;
}

.footer-main-style4__middle .title h2 {
  color: var(--thm-white);
  font-size: 85px;
  font-weight: 600;
  line-height: 1em;
}

.footer-main-style4__middle .btn-box {
  width: 70px;
  height: 70px;
  color: var(--thm-body-font-color-2);
  background-color: #0000;
  border: 1px solid #ffffff26;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  font-size: 20px;
  line-height: 0;
  transition: all .2s linear .1s;
  display: flex;
  position: relative;
  top: 2px;
}

.footer-main-style4__middle .btn-box:hover {
  color: var(--thm-white);
  border-color: var(--thm-white);
}

.footer-main-style4__bottom {
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 77px;
  display: flex;
  position: relative;
}

.footer-main-style4__bottom-left {
  display: block;
  position: relative;
  top: -1px;
}

.footer-main-style4__bottom-left .social-box, .footer-main-style4__bottom-left .text {
  display: block;
  position: relative;
}

.footer-main-style4__bottom-left .text p {
  color: var(--thm-white);
}

.footer-main-style4__bottom-left ul {
  align-items: center;
  padding-top: 9px;
  display: flex;
  position: relative;
}

.footer-main-style4__bottom-left ul li {
  display: block;
  position: relative;
}

.footer-main-style4__bottom-left ul li + li {
  margin-left: 25px;
}

.footer-main-style4__bottom-left ul li a {
  color: var(--thm-body-font-color-2);
  font-size: 18px;
  line-height: 0;
  transition: all .2s linear .1s;
  display: inline-block;
  position: relative;
}

.footer-main-style4__bottom-left ul li a:hover {
  color: var(--thm-white);
}

.footer-main-style4__bottom-middle, .footer-logo-style4 {
  display: block;
  position: relative;
}

.footer-logo-style4 a {
  display: inline-block;
  position: relative;
}

.copyright-text-style4 {
  padding-top: 22px;
  display: block;
  position: relative;
}

.copyright-text-style4 p {
  color: var(--thm-body-font-color-2);
}

.copyright-text-style4 p a {
  color: var(--thm-white);
  transition: all .2s linear .1s;
}

.copyright-text-style4 p a:hover {
  color: var(--thm-primary-color);
}

.footer-main-style4__bottom-right {
  display: block;
  position: relative;
  top: -2px;
}

.language-switcher-style4 {
  align-items: center;
  display: flex;
  position: relative;
}

.language-switcher-style4 .icon {
  width: 18px;
  height: 18px;
  color: var(--thm-primary-color);
  background-color: #0000;
  border: none;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
  display: flex;
  position: relative;
}

.language-switcher-style4 .icon.fa-angle-down {
  display: none;
}

.language-switcher-style4 .text {
  display: block;
  position: relative;
}

.language-switcher-style4 .text p {
  color: var(--thm-body-font-color-2);
}

.language-switcher-style4 .select-box {
  flex: 1;
  display: block;
  position: relative;
}

.language-switcher-style4 .nice-select {
  width: 45px;
  height: 18px;
  color: var(--thm-white);
  font-size: 18px;
  line-height: 18px;
  font-family: var(--thm-font);
  background-color: #0000;
  border: none;
  border-radius: 0;
  outline: none;
  align-items: center;
  padding-left: 7px;
  padding-right: 0;
  font-weight: 400;
  transition: all .2s ease-in-out;
  display: flex;
  position: relative;
}

.language-switcher-style4 .nice-select:after {
  color: var(--thm-body-font-color-2);
  transform-origin: 0 0;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 0;
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-60%);
  content: "" !important;
  border: none !important;
  font-family: icomoon !important;
  transform: rotate(0) !important;
}

.language-switcher-style4 .nice-select .list {
  background-color: var(--thm-white);
  transform-origin: 100% 0;
  -o-transition: all .4s linear;
  border-radius: 10px;
  width: 120px;
  height: 0;
  margin-top: 10px;
  padding: 0;
  transition: all .4s linear;
  transform: scale(1)translateY(30px);
  box-shadow: 0 0 10px #0000001a;
  left: auto !important;
  right: 0 !important;
}

.language-switcher-style4 .nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  height: auto;
  transform: scale(1)translateY(0);
}

.language-switcher-style4 .nice-select .option {
  color: var(--thm-black);
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  line-height: 40px;
  transition: all .5s;
}

.language-switcher-style4 .nice-select .option + .option {
  border-top: 1px solid #0000001a;
}

.language-switcher-style4 .nice-select .option:hover, .language-switcher-style4 .nice-select .option.focus, .language-switcher-style4 .nice-select .option.selected.focus {
  background-color: var(--thm-primary-color);
  color: var(--thm-black) !important;
}

.footer-bottom-style4 {
  padding: 29px 0 28px;
  display: block;
  position: relative;
}

.footer-menu-style1 {
  display: block;
  position: relative;
}

.footer-menu-style1 ul {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-menu-style1 ul li {
  display: block;
  position: relative;
}

.footer-menu-style1 ul li + li {
  margin-left: 65px;
}

.footer-menu-style1 ul li a {
  color: var(--thm-black);
  font-size: 18px;
  line-height: 28px;
  font-family: var(--thm-font-2);
  font-weight: 600;
  transition: all .2s linear .1s;
  display: inline-block;
  position: relative;
}

.footer-menu-style1 ul li a:hover {
  color: var(--thm-primary-color);
}

/*# sourceMappingURL=public_assets_css_module-css_07-footer-section_css_bad6b30c._.single.css.map*/