/* [project]/public/assets/css/module-css/03-about-section.css [app-client] (css) */
.about-style1 {
  margin: 0 30px;
  padding: 120px 0;
}

.about-style1__img {
  margin-right: 35px;
  padding-bottom: 235px;
  display: block;
  position: relative;
}

.about-style1__img .img-box {
  border-radius: var(--thm-border-radius);
  margin-right: 115px;
  display: block;
  position: relative;
  overflow: hidden;
}

.about-style1__img .img-box:before {
  content: "";
  opacity: 0;
  z-index: 1;
  background: linear-gradient(#50fa7b00 0%, #50fa7b87 31%, #50fa7b 80%);
  transition: all .5s cubic-bezier(.4, .28, .31, 1.28) .2s;
  position: absolute;
  inset: 0;
}

.about-style1__img .img-box:hover:before {
  opacity: 1;
}

.about-style1__img .img-box img {
  width: 100%;
  transition: all 1.5s;
  transform: scale(1);
}

.about-style1__img .img-box:hover img {
  transform: scale(1.07)rotate(0);
}

.about-style1__img-award {
  z-index: 5;
  max-width: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-style1__img-award-top {
  background-color: var(--thm-white);
  border-top-left-radius: var(--thm-border-radius);
  border-top-right-radius: var(--thm-border-radius);
  padding: 66px 50px 32px;
  display: block;
  position: relative;
  box-shadow: 0 0 30px #0000001a;
}

.about-style1__img-award-top .top {
  width: 180px;
  height: 157px;
  display: block;
  position: relative;
}

.about-style1__img-award-top .shape1 {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
}

.about-style1__img-award-top .shape1 img {
  width: auto;
  min-width: 180px;
}

.about-style1__img-award .text {
  z-index: 5;
  display: block;
  position: relative;
}

.about-style1__img-award .text h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.about-style1__img-award .text h6 {
  color: #6b7e8b;
  font-size: 14px;
  line-height: 26px;
  font-family: var(--thm-font);
  font-weight: 600;
}

.about-style1__img-award .title {
  margin-top: -7px;
  display: block;
  position: relative;
}

.about-style1__img-award .title h3 {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.about-style1__img-award .title p {
  margin: 0;
}

.about-style1__img-award-bottom {
  background-color: var(--thm-black-bg);
  border-bottom-left-radius: var(--thm-border-radius);
  border-bottom-right-radius: var(--thm-border-radius);
  padding: 18px 50px 17px;
  display: block;
  position: relative;
}

.about-style1__img-award-bottom h3 {
  color: var(--thm-white);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.about-style1-round-text {
  background-color: var(--thm-white);
  border: 30px solid var(--thm-primary-color);
  z-index: 11;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-style1-round-text__dot1 {
  background-color: var(--thm-black);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 67px;
  left: -17px;
}

.about-style1-round-text__dot2 {
  background-color: var(--thm-black);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 67px;
  right: -17px;
}

.about-style1-round-text__top {
  width: 200px;
  color: var(--thm-black);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  font-family: var(--thm-font-2);
  word-spacing: 2px;
  letter-spacing: -.09em;
  position: absolute;
  inset: -30px 0 0 -30px;
  transform: rotate(0);
  height: 200px !important;
}

.about-style1-round-text__bottom {
  width: 200px;
  color: var(--thm-black);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  font-family: var(--thm-font-2);
  word-spacing: 2px;
  letter-spacing: .08em;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  inset: 40px 0 0 -30px;
  transform: rotate(180deg);
  height: 200px !important;
}

.about-style1-round-text .overlay-text {
  background-color: var(--thm-gray-bg);
  text-align: center;
  color: var(--thm-black);
  font-size: 80px;
  font-family: var(--thm-font-2);
  border-radius: 50%;
  align-items: center;
  padding-left: 15px;
  font-weight: 700;
  display: flex;
  position: absolute;
  inset: 10px;
}

.about-style1-round-text .overlay-text .inner {
  margin-top: -14px;
}

.about-style1-round-text .overlay-text span {
  color: #0000;
  -webkit-text-stroke: 2px var(--thm-black);
  position: absolute;
  bottom: 39px;
  right: 15px;
}

.about-style1__content {
  display: block;
  position: relative;
}

.about-style1__content .sec-title {
  padding-bottom: 33px;
}

.about-style1__content .text {
  display: block;
  position: relative;
}

.about-style1__content .text p {
  margin: 0;
}

.about-style1__content .title-box {
  padding-top: 21px;
  display: block;
  position: relative;
}

.about-style1__content .title-box h3 {
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.about-style1__content .title-box h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.about-style1__content .text-box {
  padding-top: 25px;
  display: flex;
  position: relative;
}

.about-style1__content .text-box .icon {
  border-top: 1px solid var(--thm-border-color);
  border-right: 1px solid var(--thm-border-color);
  border-top-right-radius: var(--thm-border-radius);
  background-color: #0000;
  align-items: flex-end;
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
}

.about-style1__content .text-box .icon .inner {
  background-color: var(--thm-gray-bg);
  border-radius: var(--thm-border-radius);
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 40px;
  display: flex;
  position: relative;
}

.about-style1__content .text-box .icon .icon-target .path1:before, .about-style1__content .text-box .icon .icon-target .path2:before, .about-style1__content .text-box .icon .icon-target .path3:before {
  color: var(--thm-primary-color);
}

.about-style1__content .text-box .icon .icon-target .path4:before, .about-style1__content .text-box .icon .icon-target .path5:before, .about-style1__content .text-box .icon .icon-target .path6:before, .about-style1__content .text-box .icon .icon-target .path7:before, .about-style1__content .text-box .icon .icon-target .path8:before, .about-style1__content .text-box .icon .icon-target .path9:before {
  color: var(--thm-black);
}

.about-style1__content .text-box .text1 {
  border-top: 1px solid var(--thm-border-color);
  border-top-left-radius: var(--thm-border-radius);
  flex: 1;
  padding-top: 22px;
  padding-left: 30px;
  display: block;
  position: relative;
}

.about-style1__content .text-box .text1 p {
  margin: 0;
}

.about-style1__content .btn-box {
  padding-top: 24px;
  display: block;
  position: relative;
}

.about-style1__content .btn-box a {
  color: var(--thm-black);
  font-size: 18px;
  line-height: 18px;
  font-family: var(--thm-font-2);
  align-items: center;
  font-weight: 600;
  transition: all .2s linear .1s;
  display: inline-flex;
  position: relative;
}

.about-style1__content .btn-box a:hover {
  color: var(--thm-primary-color);
}

.about-style1__content .btn-box a i {
  margin-left: 10px;
  font-size: 10px;
  position: relative;
  top: 1px;
}

.about-style2 {
  padding: 0 0 120px;
}

.about-style2__left {
  margin-right: 30px;
  padding-bottom: 48px;
  display: block;
  position: relative;
}

.about-style2__left .shape1 {
  position: absolute;
  top: 55px;
  right: 15px;
}

.about-style2__left .img-box1 {
  border-radius: var(--thm-border-radius);
  max-width: 300px;
  display: block;
  position: relative;
  overflow: hidden;
}

.about-style2__left .img-box1:after {
  content: "";
  background-color: #0000001a;
  position: absolute;
  inset: 0;
}

.about-style2__left .img-box2 {
  border-radius: var(--thm-border-radius);
  z-index: 4;
  min-width: 310px;
  position: absolute;
  top: 50px;
  right: 0;
  overflow: hidden;
}

.about-style2__left .img-box1:before, .about-style2__left .img-box2:before {
  content: "";
  opacity: 0;
  z-index: 1;
  background: linear-gradient(#6bdd7f00 0%, #6bddd987 31%, #6bddd9 80%);
  transition: all .5s cubic-bezier(.4, .28, .31, 1.28) .2s;
  position: absolute;
  inset: 0;
}

.about-style2__left .img-box1:hover:before, .about-style2__left .img-box2:hover:before {
  opacity: 1;
}

.about-style2__left .img-box1 img, .about-style2__left .img-box2 img {
  width: 100%;
  transition: all 1.5s;
  transform: scale(1);
}

.about-style2__left .img-box1:hover img, .about-style2__left .img-box2:hover img {
  transform: scale(1.07)rotate(0);
}

.about-style2__left .experience-box {
  background-color: var(--thm-black-bg);
  border-radius: var(--thm-border-radius);
  z-index: 5;
  width: 100%;
  max-width: 240px;
  padding: 30px 30px 22px;
  position: absolute;
  bottom: 0;
  right: 70px;
  overflow: hidden;
}

.about-style2__left .experience-box__bg {
  background-position: 100% 0;
  background-repeat: repeat-x;
  background-size: auto;
  background-attachment: scroll;
  animation: 60s linear infinite slide;
  position: absolute;
  inset: 0;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 1920px 0;
  }
}

.about-style2__left .experience-box .icon {
  font-size: 50px;
  line-height: 0;
  display: block;
  position: relative;
}

.about-style2__left .experience-box .icon .icon-bull .path1:before {
  color: var(--thm-primary-color);
}

.about-style2__left .experience-box .icon .icon-bull .path2:before, .about-style2__left .experience-box .icon .icon-bull .path3:before, .about-style2__left .experience-box .icon .icon-bull .path4:before {
  color: var(--thm-white);
}

.about-style2__left .experience-box .title {
  padding-top: 19px;
  display: block;
  position: relative;
}

.about-style2__left .experience-box .title h2 {
  color: var(--thm-white);
  font-size: 40px;
  font-weight: 600;
  line-height: 1em;
}

.about-style2__left .experience-box .title h2 span {
  font-size: 24px;
}

.about-style2__left .experience-box .text {
  padding-top: 1px;
  display: block;
  position: relative;
}

.about-style2__left .experience-box .text h3 {
  color: var(--thm-body-font-color-2);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.about-style2__right {
  display: block;
  position: relative;
}

.about-style2__right .sec-title.withtext {
  padding-bottom: 23px;
}

.about-style2__right .sec-title .text {
  padding-top: 21px;
}

.about-style2__right .purpose-box {
  padding-top: 0;
  padding-left: 80px;
  display: block;
  position: relative;
}

.about-style2__right .purpose-box .icon {
  background-color: var(--thm-gray-bg);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 32px;
  line-height: 0;
  display: flex;
  position: absolute;
  top: 9px;
  left: 0;
}

.about-style2__right .purpose-box .icon .icon-medical-history .path1:before, .about-style2__right .purpose-box .icon .icon-medical-history .path2:before, .about-style2__right .purpose-box .icon .icon-medical-history .path3:before {
  color: #0000;
}

.about-style2__right .purpose-box .icon .icon-medical-history .path4:before, .about-style2__right .purpose-box .icon .icon-medical-history .path10:before {
  color: var(--thm-primary-color);
}

.about-style2__right .purpose-box .icon .icon-medical-history .path5:before, .about-style2__right .purpose-box .icon .icon-medical-history .path6:before, .about-style2__right .purpose-box .icon .icon-medical-history .path7:before, .about-style2__right .purpose-box .icon .icon-medical-history .path8:before, .about-style2__right .purpose-box .icon .icon-medical-history .path9:before, .about-style2__right .purpose-box .icon .icon-medical-history .path11:before {
  color: var(--thm-black);
}

.about-style2__right .purpose-box .text {
  display: block;
  position: relative;
}

.about-style2__right .purpose-box .text h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.about-style2__right .purpose-box .text p {
  margin: 0;
}

.about-style2__right .btn-box {
  padding-top: 27px;
  line-height: 0;
  display: block;
  position: relative;
}

.about-style2__right .btn-box .btn-one {
  font-family: var(--thm-font-2);
  border-radius: 30px;
  font-weight: 600;
}

.about-style2__right .btn-box .btn-one:after {
  background: var(--thm-black-bg);
}

.about-style2__right .btn-box .btn-one i {
  margin-left: 10px;
  font-size: 10px;
  transition: all .2s linear .1s;
  position: relative;
  top: 1px;
}

.about-style2.pdtop {
  padding-top: 120px;
}

/*# sourceMappingURL=public_assets_css_module-css_03-about-section_css_bad6b30c._.single.css.map*/