/* [project]/public/assets/css/module-css/05-testimonial-section.css [app-client] (css) */
.testimonial-style1 {
  background-color: var(--thm-black-bg);
  border-radius: var(--thm-border-radius);
  padding: 120px 0;
}

.testimonial-style1 .sec-title {
  padding-bottom: 48px;
}

.testimonial-style1__inner {
  display: block;
  position: relative;
}

.testimonial-style1__inner ul {
  flex-wrap: nowrap;
  align-items: center;
  width: fit-content;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  position: relative;
}

.testimonial-style1__inner .marquee_mode-leftToRight {
  margin-top: 30px;
}

.single-testimonial-style1 {
  float: left;
  border-radius: var(--thm-border-radius);
  background-color: var(--thm-black-bg-2);
  width: 100%;
  max-width: 570px;
  margin: 0 15px;
  padding: 40px;
  display: block;
  position: relative;
}

.single-testimonial-style1 .top-box {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.single-testimonial-style1 .top-box .left {
  border-bottom: 1px solid var(--thm-border-color-1);
  border-bottom-right-radius: var(--thm-border-radius);
  align-items: center;
  width: 100%;
  max-width: 380px;
  padding-bottom: 22px;
  display: flex;
  position: relative;
}

.single-testimonial-style1 .top-box .left .percent {
  background-color: #111736;
  border: 1px solid #1e233d;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 42px;
  display: flex;
  position: relative;
}

.single-testimonial-style1 .top-box .left .percent p {
  color: var(--thm-white);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.single-testimonial-style1 .top-box .left .text {
  flex: 1;
  padding-left: 20px;
  display: block;
  position: relative;
}

.single-testimonial-style1 .top-box .left .text p {
  color: var(--thm-body-font-color-2);
}

.single-testimonial-style1 .top-box .right {
  border-left: 1px solid var(--thm-border-color-1);
  border-bottom: 1px solid var(--thm-border-color-1);
  border-bottom-left-radius: var(--thm-border-radius);
  width: 100%;
  max-width: 110px;
  padding-bottom: 28px;
  padding-left: 29px;
  display: block;
  position: relative;
}

.single-testimonial-style1 .top-box .right .point {
  display: block;
  position: relative;
}

.single-testimonial-style1 .top-box .right .point p {
  color: var(--thm-body-font-color-2);
}

.single-testimonial-style1 .top-box .right .rating {
  align-items: center;
  padding-top: 5px;
  display: flex;
  position: relative;
}

.single-testimonial-style1 .top-box .right .rating li {
  color: var(--thm-primary-color);
  font-size: 16px;
  line-height: 0;
  display: block;
  position: relative;
}

.single-testimonial-style1 .text-box {
  padding-top: 33px;
  display: block;
  position: relative;
}

.single-testimonial-style1 .text-box p {
  color: var(--thm-body-font-color-2);
}

.single-testimonial-style1 .bottom-box {
  align-items: center;
  padding-top: 22px;
  display: flex;
  position: relative;
}

.single-testimonial-style1 .bottom-box .icon {
  border: 2px solid var(--thm-white);
  background-color: #0000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 33px;
  line-height: 0;
  display: flex;
  position: relative;
}

.single-testimonial-style1 .bottom-box .icon img {
  width: auto;
}

.single-testimonial-style1 .bottom-box h3 {
  color: var(--thm-white);
  flex: 1;
  padding-left: 15px;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  display: block;
  position: relative;
}

.single-testimonial-style1 .bottom-box h3 span {
  color: var(--thm-body-font-color-2);
  font-size: 18px;
  font-family: var(--thm-font);
  font-weight: 400;
}

.single-testimonial-style1 .quote-icon {
  opacity: .02;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.testimonial-style1--style2 {
  background-color: var(--thm-white);
  padding: 120px 0 90px;
}

.testimonial-style1--style2 .container {
  max-width: 1670px;
}

.testimonial-style1--style2 .single-testimonial-style1 {
  margin-bottom: 30px;
}

.testimonial-style2 {
  background-color: var(--thm-gray-bg);
  padding: 0 0 90px;
}

.testimonial-style2.pdtop120 {
  padding-top: 120px;
}

.testimonial-style2__big-title {
  z-index: -1;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  transform: translateY(0%);
}

.testimonial-style2-scrolling-text {
  display: block;
  position: relative;
  overflow: hidden;
}

.testimonial-style2-scrolling-text ul.list {
  flex-wrap: nowrap;
  align-items: center;
  width: fit-content;
  display: flex;
  position: relative;
}

.testimonial-style2-scrolling-text ul.list li.item {
  float: left;
  color: #0000;
  font-size: 150px;
  line-height: 1em;
  font-family: var(--thm-font-2);
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #dbdfd6;
  background-image: linear-gradient(0deg, #f3f6ef, #eaede6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  margin-left: 80px;
  font-weight: 700;
  position: relative;
}

.testimonial-style2__inner {
  padding-top: 80px;
  display: block;
  position: relative;
}

.single-testimonial-style2 {
  background-color: var(--thm-white);
  border-radius: var(--thm-border-radius);
  margin-bottom: 30px;
  padding: 31px 0 40px;
  display: block;
  position: relative;
  box-shadow: 0 0 30px #0000000f;
}

.single-testimonial-style2:before {
  content: "";
  opacity: 0;
  border-radius: var(--thm-border-radius);
  background-color: var(--thm-primary-color);
  z-index: -1;
  transition: all .5s;
  position: absolute;
  inset: 0;
  transform: rotate(0);
}

.single-testimonial-style2:hover:before {
  opacity: 1;
  transform: rotate(3deg);
}

.single-testimonial-style2__inner {
  z-index: 1;
  display: block;
  position: relative;
}

.single-testimonial-style2 .title-box {
  padding: 0 25px 0 30px;
  display: block;
  position: relative;
}

.single-testimonial-style2 .title-box h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.single-testimonial-style2 .title-box p {
  margin: 0;
  transition: all .2s linear .1s;
}

.single-testimonial-style2:hover .title-box p {
  color: #000000e6;
}

.single-testimonial-style2 .rating-box {
  margin-top: 32px;
  padding-left: 30px;
  display: block;
  position: relative;
}

.single-testimonial-style2 .rating-box:before {
  content: "";
  background-color: var(--thm-border-color);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.single-testimonial-style2:hover .rating-box:before {
  background-color: var(--thm-white);
}

.single-testimonial-style2 .rating-box-inner {
  background-color: var(--thm-gray-bg);
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  align-items: center;
  padding: 4px 30px 3px;
  display: inline-flex;
  position: relative;
}

.single-testimonial-style2 .rating-box-inner .icon {
  color: #ffa534;
  margin-right: 10px;
  font-size: 16px;
  line-height: 0;
  display: block;
  position: relative;
}

.single-testimonial-style2 .rating-box-inner h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.single-testimonial-style2 .bottom-box {
  padding: 35px 30px 0;
  display: block;
  position: relative;
}

.single-testimonial-style2 .bottom-box .logo {
  display: inline-block;
  position: relative;
}

.single-testimonial-style2:hover .bottom-box .logo img {
  filter: invert();
}

.single-testimonial-style2 .bottom-box .author-box {
  align-items: center;
  padding-top: 30px;
  display: flex;
  position: relative;
}

.single-testimonial-style2 .bottom-box .author-box .img {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: block;
  position: relative;
  overflow: hidden;
}

.single-testimonial-style2 .bottom-box .author-box .img:before {
  content: "";
  opacity: 0;
  background-color: var(--thm-black-bg);
  z-index: 1;
  transition: all .5s cubic-bezier(.4, .28, .31, 1.28) .2s;
  position: absolute;
  inset: 0;
}

.single-testimonial-style2:hover .bottom-box .author-box .img:before {
  opacity: .8;
}

.single-testimonial-style2 .bottom-box .author-box .img img {
  width: 100%;
  transition: all 1.5s;
  transform: scale(1);
}

.single-testimonial-style2:hover .bottom-box .author-box .img img {
  transform: scale(1.07)rotate(0);
}

.single-testimonial-style2 .bottom-box .author-box .title {
  flex: 1;
  padding-left: 20px;
  display: block;
  position: relative;
}

.single-testimonial-style2 .bottom-box .author-box .title h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}

.single-testimonial-style2 .bottom-box .author-box .title p {
  margin: 0;
  transition: all .2s linear .1s;
}

.single-testimonial-style2:hover .bottom-box .author-box .title p {
  color: #000000e6;
}

.testimonial-style2__top {
  display: block;
  position: relative;
}

.testimonial-style2__top .sec-title {
  padding-bottom: 0;
}

.testimonial-style2__inner--style2 {
  padding-top: 53px;
}

.testimonial-style2.pdtop120 .owl-nav-style-one .owl-nav {
  position: absolute;
  top: -65px;
  right: -5px;
}

.testimonial-style2-carousel.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.testimonial-style2-carousel.owl-carousel .owl-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.testimonial-style2-carousel.owl-carousel .owl-item.active {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=public_assets_css_module-css_05-testimonial-section_css_bad6b30c._.single.css.map*/